<div id="leftpanel">
  <div align="justify" class="graypanel">
    <span class="smalltitle">News</span><br /><br />
    <span class="smallredtext">September 27, 2006</span><br />
    <span class="bodytext"
      >Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien.
      Nam est.</span
    ><br />
    <a href="#" class="smallgraytext">More...</a><br /><br />
    <span class="smallredtext">September 27, 2006</span><br />
    <span class="bodytext"
      >Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien.
      Nam est.</span
    ><br />
    <a href="#" class="smallgraytext">More...</a><br /><br />
    <span class="smallredtext">September 27, 2006</span><br />
    <span class="bodytext"
      >Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien.
      Nam est.</span
    ><br />
    <a href="#" class="smallgraytext">More...</a><br /><br />
  </div>
</div>
