// colors
$gGray: #4b4b4b;
$primary: #bfa27c;
$backg: #2a2a2ace;

// Typography Start
// Font sizes
$GlobalFont: 62.5%;
$MediumFont: 2.4rem;
$smallFont: 1.8rem;

// Line Heights
$MediumLineSpacing: 5rem;
$smallLineSpacing: 3rem;

//Typography End

//shadow
$shadowGlob: 0px 4px 4px rgba(0, 0, 0, 0.25);

$globalRadius: 10rem;
