@import "../../styles/abstracts/mixins.scss";
@import "../../styles/abstracts/variables.scss";
body {
  .skills {
    padding-bottom: 10rem;
    .orbit {
      font-size: calc(1.8rem + 1.5vw);
      color: $primary;
      margin-bottom: 5rem;
    }
    .wrapper {
      @include grid(1rem, 40%, 5rem);
      column-gap: 15rem;
      .paragraph {
        font-weight: 600;
      }
      @include mQ(840px) {
        column-gap: 1rem;
      }
      @include mQ(380px) {
        @include grid(1rem, 90%, 5rem);
      }
      & > div {
        margin-bottom: 2rem;
      }
      .progress {
        border-radius: $globalRadius;
        height: 0.7rem;
        .progress-bar {
          background-color: $primary;
          border-radius: $globalRadius;
        }
      }
    }
  }
}
