.superbthemes-customizer-refocus-button-wrapper {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.superbthemes-customizer-refocus-button-wrapper p {
    margin: 0;
}

.superbthemes-customizer-refocus-button-wrapper .superbthemes-customizer-refocus-button {
    
}